In [57]:
#cmd anaconda
# conda install -c anaconda mysql-connector-python

import mysql.connector

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [58]:
mydb = mysql.connector.connect(
        host='localhost',
        user='root',
        password='igti'
)
print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for db in mycursor:
        print(db)

#para criar um DB
# mycursor.execute("CREATE DATABASE nome")

<mysql.connector.connection.MySQLConnection object at 0x000001E1DFBA4E88>
('bootcamp',)
('exercicio',)
('information_schema',)
('livraria',)
('mysql',)
('performance_schema',)
('project',)
('sakila',)
('sys',)
('world',)

### Conectar ao MySQL Server selecionando um banco de dados

In [59]:
mydb = mysql.connector.connect(
        host='localhost',
        user='root',
        password='igti',
        database='bootcamp'
)
print(mydb)

mycursor = mydb.cursor()

#mycursor.execute("SHOW TABLES")

<mysql.connector.connection.MySQLConnection object at 0x000001E1DF5A5788>

In [60]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteiristicasgerais',)
('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [61]:
# criar tabela

mycursor.execute ("CREATE TABLE caracteristicageralimovel (\
    idcaracteristicageralImovel int NOT NULL AUTO_INCREMENT,\
    idcaracteristicasGerais int NOT NULL,\
    idImovel int NOT NULL,\
    temCaracteristica tinyint DEFAULT NULL,\
    PRIMARY KEY(idcaracteristicageralImovel),\
    KEY fk_caracteristicasGerais_has_Imovel_Imovel1_idx (idImovel),\
    KEY fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1_idx (idcaracteristicasGerais),\
    CONSTRAINT fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1 FOREIGN KEY (idcaracteristicasGerais)\ 
                    REFERENCES caracteristicasgerais (idcaracteristicasGerais,\
    CONSTRAINT fk_caracteristicasGerais_has_Imovel_Imovel1 FOREIGN KEY (idImovel) REFERENCES imovel (idImovel)\
                    )")

SyntaxError: EOL while scanning string literal (<ipython-input-61-4c92a923a95e>, line 11)

In [62]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteiristicasgerais',)
('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [42]:
query = "INSERT INTO caracteiristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")
mycursor.execute(query, values)

mydb.commit()

print(mycursor.rowcount, "Registro(s) inserido(s)")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'caracteiristicasgerais.PRIMARY'

In [63]:
# Inserindo multiplo valores
values = [(5, "Salão de festas"),(6, "Academia")]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "Registro(s) inserido(s)")

IntegrityError: 1062 (23000): Duplicate entry '5' for key 'caracteiristicasgerais.PRIMARY'

In [55]:
mycursor.execute("SELECT * FROM caracteristicasgerais")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

ProgrammingError: 1046 (3D000): No database selected

In [64]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

None

In [67]:
import csv
# leitura de arquivo sem utilzar biblioteca Pandas

filename = (r"C:\Users\Alberto Pinalli\Documents\GitHub\CientistaDeDados-IGTI\Bootcamp\arquivos\cidades.csv")

with open(filename, 'r')as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None) # skip the headers
    for line in reader:
        #print(line)
        #print(line[1])
        mycursor.execute("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE, NomeCidade, CodEstadoIBGE)\
                            VALUES(%s, %s, %s, %s)", line)
        
mydb.commit()   


print(mycursor.rowcount, "regitros inseridos")

#db.close()
incsvfile.close()

1 regitros inseridos

In [68]:
mycursor.execute("SELECT COUNT(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

(5570,)