In [1]:
# install.packages('RMariaDB')
# https://db.rstudio.com/dbi

#importação do pacote
#importa pacote RMariaDB se ele ainda não foi criado

if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

Loading required package: RMariaDB
Warning message:
"package 'RMariaDB' was built under R version 3.6.3"

In [2]:
#conecta ao SGBD MySQL -> Banco de dados bootcamp
con <- dbConnect(MariaDB(), user = "root", password = "igti", 
                dbname ="bootcamp", host = "localhost", serverTimezone = 'UTC')

In [22]:
#para listar quais tabelas os dados de uma tabela execute:
# dbReadTable(nome-da-conexao, "nome da tabela")
#consulta dados da tabela "estado"
tabledata <- dbReadTable(con,"estado")
tabledata

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [4]:
tabledata <- dbReadTable(con,"cidade")
tabledata

     CodigoCompletoIBGE CodigoCidadeIBGE NomeCidade CodEstadoIBGE

In [9]:
tabledata <- dbReadTable(con,"imovel")
tabledata

     idImovel codRegistro Disponibilidade idTipoUnidade areaImovel valorIPTU
     valorCondominio qtdeQuartos qtdeBanheiro qtdeSuite qtdeSala qtdeVagas
     CodigoCompletoIBGE

In [14]:
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             lOFT
8 8             Chácara

In [7]:
#para executar o comando SQL execute
#dbSendQuery(nome-da-tabela, "comando")

#inserir nova linha na tabela tipounidade
#cria o comando e salva na variavel query
query <- "INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade) VALUES(7, 'lOFT');"

#OPTIONAL
print(query)

results <- dbSendQuery(con, query)
results

#Limoa results
dbClearResult(results)

[1] "INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade) VALUES(7, 'lOFT');"

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade) VALUES(7, 'lOFT');
  ROWS Fetched: 0 [complete]
       Changed: 1

In [12]:
id <- 8
desc <- 'Chácara'

query <- paste("INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade)VALUES(",id,",'",desc,"');", sep='')

#OPTIONAL
print(query)

results <- dbSendQuery(con, query)
results

#Limoa results
dbClearResult(results)

[1] "INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade)VALUES(8,'Chácara');"

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade)VALUES(8,'Chácara');
  ROWS Fetched: 0 [complete]
       Changed: 1

In [15]:
#install.packages('xlsx')

also installing the dependencies 'rJava', 'xlsxjars'

  There is a binary version available but the source version is later:
      binary source needs_compilation
rJava 0.9-12 0.9-13              TRUE

  Binaries will be installed
package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Alberto Pinalli\AppData\Local\Temp\RtmpOwLHAo\downloaded_packages

In [8]:
#importa pacaote xlsx se ele não foi instalado
if(!"xlsx" %in% (.packages())){require(xlsx)}

datasetpath <- 'C:/Users/Alberto Pinalli/Documents/GitHub/CientistaDeDados-IGTI/Bootcamp/arquivos'

filename <- paste(datasetpath,"/estados.xlsx", sep='')

insertdata <- read.xlsx(filename, sheetIndex=1, header=TRUE, encoding="UTF-8")
insertdata
#sampleGardenData

   CodEstadoIBGE nomeestado          siglaestado regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [21]:
dbWriteTable(con, 'estado',insertdata,append = TRUE)

In [3]:
#criar tabela vazia
#query <- "CREATE TABLE caracteristicasgerais (
 #               idcaracteristicasGerais int NOT NULL AUTO_INCREMENT,
  #              dsccaracteristicasGerais varchar(150)NOT NULL,
 #               PRIMARY KEY (idcaracteristicasGerais));"

#results <- dbSendQuery(con,query)
#results

#tables <- dbListTables(con)
#tables

ERROR: Error in dbSendQuery(con, query): não foi possível encontrar a função "dbSendQuery"

In [9]:
query <- "SELECT * FROM estado;"

#opcional
#print(query)

results <- dbGetQuery(com,query)
results

ERROR: Error in dbGetQuery(com, query): não foi possível encontrar a função "dbGetQuery"

In [10]:
#salvar o resultado da query no arquivo csv
write.csv(results, "C:/Users/Alberto Pinalli/Documents/GitHub/CientistaDeDados-IGTI/Bootcamp/arquivos/estadosDB.csv",row.names=FALSE,quote=FALSE)
#dbCommit(con)

ERROR: Error in is.data.frame(x): objeto 'results' não encontrado

In [12]:
# Desconectar do banco
dbDisconnect(con)

ERROR: Error in dbDisconnect(con): não foi possível encontrar a função "dbDisconnect"

In [ ]:
query <- "INSERT INTO tipounidade(idTipoUnidade, dscTipoUnidade) VALUES(9, 'Kitnet');"

#OPTIONAL
print(query)

results <- dbSendQuery(con, query)
results

#Limoa results
dbClearResult(results)